<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:src="@{/js/googleMap.js}"></script>
<title>GoogleMap Best Practice</title>
</head>
<body>
	<p>Google Map 表示</p>
	<div id="map" style="width: 620px; height: 400px"></div>
	<p id="LatLngOnClick"></p>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDekF2nUeq0Hsswmv1-yjLjWWL9PXxkDfI&callback=initMap">
	</script> <!-- src="{googlemapapiのurl}?key={自分のapikey}&callback={マップを表示するときに呼び出すcallback}" -->
</body>
</html>